
<!DOCTYPE html>
<html>
<body>
<h1>
<form method="POST" action='/pirates/show'>
Name: <input type="text" name="pirate[name]">
Weight: <input type="text" name="pirate[weight]">
Height: <input type="text" name="pirate[height]">
Ship 1: <input id="ship_name_1" type="text" name="pirate[ships][][name]" >
Ship 1: <input id="ship_name_1" type="text" name="pirate[ships][][type]" >
Ship 1: <input id="ship_name_1" type="text" name="pirate[ships][][booty]" >
<input type="submit">
</form>
</h1>

</body>
</html>
